<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class='nav navbar-nav'>
			<li class="active"><a href="/#/trending">Trending</a></li>
      <li><a href="#">My Feed</a></li>
			<li><a href="/#/postHaul">Post Haul</a></li>
			<li>
				<a href="javascript:{}" onclick="document.getElementById('sign_out').submit(); return false;">Sign Out</a>
				<form id='sign_out' action='/users/sign_out' method='post'>
					<input type='hidden' name='_method' value='delete'></input>
				 </form>
			</li>
			
		</ul>
  </div>
</nav>


<div id="content" class="container">
	
</div>
<script type="application/json" id='bootstrapped-current-user'>
	<%= @user.to_json.html_safe %>
</script>
<script>
  $(function () {
    Hauler.initialize();
  });
</script>