<img class='img-square' src='<%=haul.escape('image')%>'>

<div class='haul-cover-label'>
	
	
	<p>
	
		<%= haul.escape('title') %> 
		
	</p>
	
	<p>
	
		<%= haul.escape('description') %> 
		
	</p>
	

		
		<p>  
			<a href='/apps/#/hauls/<%= haul.id %>'> View this Haul! </a> 
		</p>
	
	
	
	
</div>