<img class='img-square' src='<%=image.escape('url')%>'>

<div class='save'>
	Save
</div>

<div class='tag'>
	Tag
</div>

<div class='square-label'>
	
	
	<span align='center'>
	
		<a href='/apps/#/users/<%= owner.id %>'><%= owner.escape('email') %> </a>
		
	</span>
	
</div>