

<center> <p> <%= haul.escape('title')%> </p> </center>
<p> <%= haul.escape('description')%> </p>
<% if (haul.escape('owner_id') === cUser.toString()) { %>
	<%= console.log('true') %>
	<button class='btn btn-primary' id='add-post-image'> Add Your Own Image!
	</button>
<% }%>
<hr>
<br>

<div class='row'> </div>