/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono');
$main-font: "Ubuntu Mono";
nav.navbar{
	margin-bottom:0px;
}

input#search-bar{
	width:300px;
	margin-top: 5.25%;
}

li.nav{
	height:50px;
	font-size: 16px;
}

a.nav-pic-container{
	height:50px;
	margin-top:0 0 0 0;
	padding:0 0 0 0;
}

div.square{
	border:1px solid #9D9D9E;
	height: 270px;
	width: 222px;
	margin-right:1%;
	margin-bottom:1%;
	position: relative;
	background-color:#FFFFFF;
}

div.square-label{
	position:absolute;
	bottom:0;
	font-family: $main-font;
}

body{
	background-color:#e7e7e7;
	
	margin-top:51px;
	position:relative;
	font-family: $main-font;
}

canvas{
	position:absolute;
	left:0px;
	float:right;
	padding:0px;
	margin:0px;
}

canvas#cover-preview{
	position:absolute;
	left:250px;
	top:0px;
	padding:0px;
	margin:0px;
}

form.submitPostImage{
	position:relative;
	height:250px;
	width:240px;
}

form.submitHaul{
	position:relative;
	height:400px;
	width:240px;
}

div#content{
	
	
	position:relative;
}

div#make-haul-body{
	height:240px;
	position:relative;
}

img.img-square{
	position:absolute;
	left:0px;
	float:left;
	padding:0px;
	margin:0px;
	border-bottom:1px solid #9D9D9E;
	border-right:1px solid #9D9D9E;
}