// Place all the styles related to the Hauls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.haul-cover{
	border:1px solid #9D9D9E;
	height: 222px;
	width: 46.5%;
	margin-right:1%;
	margin-bottom:1%;
	position: relative;
	background-color:#FFFFFF;
}

div.haul-cover-label{
	position:absolute;
	left:230px;
	top:10px;
}

p.prod-url{
	display:none;
}

div.row.cover{
	width:100%;
	left:3%;
	position:relative;
}

button#followers{
	float:right;
	margin-right:.5%;
}

button#followed-users{
	float:right;
	margin-right:.5%;
}

button#follow-button{
	float:right;
	margin-right:.5%;
}

img.prodPic{
	
}

img.prodPic.select{
	border:1px solid green;
}
