// Place all the styles related to the Hauls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.haul-cover{
	border:1px solid #9D9D9E;
	height: 222px;
	width: 46.5%;
	margin-right:1%;
	margin-bottom:1%;
	position: relative;
	background-color:#FFFFFF;
	min-width: 460px;
}

div.haul-cover-label{
	position:absolute;
	left:230px;
	top:10px;
	width:50%;
}

p.prod-url{
	display:none;
}

div.row.cover{
	width:100%;
	left:3%;
	position:relative;
}

button#followers{
	float:right;
	margin-right:.5%;
}

button#followed-users{
	float:right;
	margin-right:.5%;
}

button#follow-button{
	float:right;
	margin-right:.5%;
}

img.prodPic{
	
}

img.prodPic.select{
	border:1px solid green;
}

p.cover-title{
	font-size:24px;
	font-style:bold;
}



div.tag{
	display:none;
}

div.square:hover .tag{
	display:block;
	position:absolute;
	top:5%;
	float:top;
	background-color:#f6c415;
	height:51px;
	width:90px;
	padding-top:5%;
	padding-left:10%;
	margin:0 0 0 0;
	
}

div.square:hover .tag:hover{
	display:block;
	position:absolute;
	top:5%;
	float:top;
	background-color: darken(#f6c415, 10%);
	
	height:51px;
	width:90px;
	padding-top:5%;
	padding-left:10%;
	margin:0 0 0 0;
	
}


div.save{
	display:block;
	
	
	
}

img.card-pic{
	float:left;
	position:relative;
	vertical-align:center;
	padding-bottom:5px;
}

input#product-url{
	width:90%;
}

div.square:hover .save{
	display:block;
	position:absolute;
	top:5%;
	float:right;
	clear:right;
	background-color:#1197d4;;
	height:51px;
	width:98px;
	padding-top:5%;
	padding-left:10%;
	margin-left:45%;
	

}

div.square:hover .save:hover{
	display:block;
	position:absolute;
	top:5%;
	float:right;
	clear:right;
	background-color:darken(#1197d4, 10%);;
	height:51px;
	width:98px;
	padding-top:5%;
	padding-left:10%;
	margin-left:45%;
	

}

div.cover-post-images{
	background-color:#8F99CF;
	height:45%;
	width:45%;
	float:left;
	opacity:.8;
	border-radius:5%;
	padding-top:3%;
}

div.cover-products{
	background-color:#8FC0CF;
	height:45%;
	width:45%;
	opacity:.8;
	border-radius:5%;
	float:right;
	padding-top:3%;	
}

div.haul-description{
	width:100%;
	background-color:#FFFFFF;
	border: 1px solid #9D9D9E;
	margin-bottom: 1%;
}

p.haul-title{
	font-size:24px;
}

div.haul-description + p{
	vertical-align:center;
	padding: 5px 5px 5px 5px;
}

