// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.background{
	
/*	 background-image: url('/assets/background.jpg');*/
	 display:block;
	 width:100%;
	 height:100%;
	 padding-left:45%;
}

img#sign-in{
	height:100%;
	width:100%;
}

