// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.user-div{
	margin-top: 5px;
}

div.row.cover{
	
}

div.follow-buttons{
	height:35px;
	width:100%;
}


div.row.hauls{
	padding-top:1%;
}

div.row.saves{
	padding-top:1%;
}